@CHARSET "UTF-8";
.banner {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.site-body {
	background-color: #FFFFFF;
}

/*
	make the logout button look
	like a link for the nav bar
*/
.logout-button {
     background:none!important;
     border:none; 
     font: inherit;
     cursor: pointer;
}