@CHARSET "UTF-8";

.banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.site-body {
	background-color: #FFFFFF;
}

/*
	make the logout button look
	like a link for the nav bar
*/
.logout-button {
	background: none !important;
	border: none;
	font: inherit;
	cursor: pointer;
}

.logout-button:hover {
	color: #FFFFFF;
}

/* tooltip code */
#tooltip {
	padding: 3px;
	background: #f9f9f9;
	border: 1px solid #eee;
	text-align: center;
	font-size: smaller;
}

div.tip {
	border-bottom: 1px solid #eee;
}

.bannerHr {
	width: 100%;
	color: black;
	height: 1px;
	background-color: black;
}

.signin-div{
	margin-top: 20px;
}