/bin/
/build/
./src/main/resources/application.properties
.classpath
/.settings/
.project
/.gradle/
/src/main/webapp/resources/javascript/bower_components/
/src/main/webapp/startbootstrap-logo-nav/
.springBeans
logfile
